
    <ion-view view-title="Glossary">
      <ion-content class="">
        <div class="list">
          <div class="item item-divider">Data Definition Language (DDL)</div>
          <a class="item" href="#/event/glossary/alter">ALTER Statements</a>
          <a class="item" href="#/event/glossary/create">CREATE Statements </a>
          <a class="item" href="#/event/glossary/disable-trigger">DISABLE TRIGGER</a>
          <a class="item" href="#/event/glossary/drop">DROP Statements</a>
          <a class="item" href="#/event/glossary/enable-trigger">ENABLE TRIGGER</a>
          <a class="item" href="#/event/glossary/truncate-table">TRUNCATE TABLE</a>
          <a class="item" href="#/event/glossary/update-statistics">UPDATE STATISTICS</a>
          <div class="item item-divider">Data Manipulation Language (DML)</div>
          <a class="item" href="#/event/glossary/bulk-insert">BULK INSERT</a>
          <a class="item" href="#/event/glossary/select">SELECT</a>
          <a class="item" href="#/event/glossary/delete">DELETE</a>
          <a class="item" href="#/event/glossary/update">UPDATE</a>
          <a class="item" href="#/event/glossary/insert">INSERT</a>
          <a class="item" href="#/event/glossary/updatetext">UPDATETEXT</a>
          <a class="item" href="#/event/glossary/merge">MERGE</a>
          <a class="item" href="#/event/glossary/writetext">WRITETEXT</a>
          <a class="item" href="#/event/glossary/readtext">READTEXT</a>
        </div>
      </ion-content>
    </ion-view>
