<ion-view view-title="Home">
    <ion-content class="padding">

        <div class="col text-center">
            <h3>Welcome to SQLapp!</h3>
            <p>The one stop shop for database administrators</p>
        </div>

        <ul>
            <li> - T-SQL language reference</li>
            <li> - Resources (Scripts, Blogs, Forums)</li>
            <li> - Optimization/Performance Tips</li>
        </ul>


        <div class="list card">

            <div class="item item-avatar">
                <img src="./img/avatar-liam.jpg">
                <h2>Liam Spelman</h2>
                <p>May 14, 2016</p>
            </div>

            <div class="item item-body">
                <p>
                    Thanks for downloading the app, please email any suggestions/bugs to <a href="mailto:liam@sqlapp.com">liam@sqlapp.com</a>
                </p>
                <p>
                    <a href="#" class="subdued"><i class="icon ion-thumbsup"></i> 1</a>
                </p>
            </div>

        </div>

    </ion-content>
</ion-view>